<%- include header.ejs %>
<%- include navbar.ejs %>
<div class="page-wrapper">
  <div class="page-container">
    <div class="card">
      <h1>Deposit</h1>
      <div class="content">
        <div class="qr-code">
          <img src="<%- qr %>" />
        </div><div class="doge-address">
          <%= user.dogeAddress %>
        </div>
          <span>Deposits may take up to 15 confirmations.</span>
      </div>
    </div>
    <div class="card">
      <h1>Withdraw</h1>
      <div class="content">
        <div id="reader" style="width: 300px; height: 250px; margin: 0 auto"></div>
        <form method="post" action="/api/withdraw" id="withdrawForm">
          <input data-role="none" type="text" name="send_address" placeholder="Send Address..." />
          <input data-role="none" type="text" name="amount" placeholder="Amount..." />
          <input data-role="none" type="submit" value="Send">
          <span>There is a 1 doge fee on withdrawals to cover transaction fees. The minimum withdrawal amount is currently 10 doge.</span>
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/js/html5-qrcode/lib/html5-qrcode.min.js"></script>
<script type="text/javascript">
    $('#reader').html5_qrcode(function(data){
                $('input[name="send_address"]').val(data.replace(/^dogecoin:/, ''));
            },
            function(error){
                console.log('read error', error);
            }, function(videoError){
                console.log('video stream error', videoError);
            }
    );
</script>
<script src="//malsup.github.com/jquery.form.js"></script>
<script>
    // wait for the DOM to be loaded
    $(document).ready(function() {
        var options = {
            dataType: 'json',
            error: function(err){alert(err.responseJSON.error);$('input[name="amount"]').val('');},
            success: function(res){alert('Thank you for your withdrawal!');$('input[name="amount"]').val('');}
        };
        $('#withdrawForm').ajaxForm(options);
    });
</script>
<%- include footer.ejs %>