<%- include header.ejs %>
<%- include navbar.ejs %>
<div class="page-wrapper">
  <div class="page-container">
    <div class="card">
      <h1>Deposit</h1>
      <div class="content">
        <div class="qr-code">
          <img src="<%- qr %>" />
        </div><div class="doge-address">
          <%= user.dogeAddress %>
        </div>
          <span>Deposits may take several minutes to confirm.</span>
      </div>
    </div>
    <div class="card">
      <h1>Withdraw</h1>
      <div class="content">
        <div id="reader" style="width: 300px; height: 250px; margin: 0 auto"></div>
        <form method="post" action="/api/withdraw" id="withdrawForm">
          <input data-role="none" required="true" type="text" name="send_address" placeholder="Send Address..." />
          <input data-role="none" required="true" type="number" name="amount" min="0" placeholder="Amount..." />
          <input data-role="none" type="submit" value="Send">
          <span>There is a <%= tx_fee %> doge fee on withdrawals to cover transaction fees. The minimum withdrawal amount is currently <%= min_withdraw %> doge.</span>
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/js/html5-qrcode/lib/html5-qrcode.min.js"></script>
<script type="text/javascript">
    $('#reader').html5_qrcode(function(data){
                $('input[name="send_address"]').val(data.replace(/^dogecoin:/, ''));
            },
            function(error){
                console.log('read error', error);
            },
            function(videoError){
                console.log('video stream error', videoError);
            }
    );
</script>
<script src="/js/jquery.form.js"></script>
<script>
    // wait for the DOM to be loaded
    $(document).ready(function() {
        var options = {
            dataType: 'json',
            beforeSubmit: function(arr, $form, options) {
                // The array of form data takes the following form:
                // [ { name: 'send_address', value: 'jresig' }, { name: 'amount', value: 'secret' }]
                // return false to cancel submit
                for (var i=0; i<arr.length; i++) {
                    var elem = arr[i];
                    if (elem.value == "") {
                        alert("Error: Please fill out all fields.");
                        return false;
                    }
                }
                return true;
            },
            error: function(err){
                console.log(err);
                alert(err.responseJSON.error);
                $('input[name="amount"]').val('');
            },
            success: function(res){
                alert('Thank you for your withdrawal! You can check the status on the "My Info" page.');
                $("#balance_num").text(res.balance);
                $('input[name="amount"]').val('');
            }
        };
        $('#withdrawForm').ajaxForm(options);
    });
</script>
<%- include footer.ejs %>