<%- include header.ejs %>
<%- include navbar.ejs %>
<div class="page-wrapper">
  <div class="page-container">
    <div class="card">
      <h1>Deposit</h1>
      <div class="content">
        <div class="qr-code">
          <img src="<%- qr %>" />
        </div><div class="doge-address">
          <%= user.dogeAddress %>
        </div>
      </div>
    </div>
    <div class="card">
      <h1>Withdraw</h1>
      <div class="content">
        <form>
          <input data-role="none" type="text" name="send_address" placeholder="Send Address..." />
          <input data-role="none" type="text" name="amount" placeholder="Amount..." />
          <input data-role="none" type="submit" value="Send">
        </form>
      </div>
    </div>
  </div>
</div>
<%- include footer.ejs %>