<%- include header.ejs %>
<%- include navbar.ejs %>

<% function colorval(num){
  if(parseFloat(num)<0) {
    return 'red';
  }
  if(parseFloat(num)>0) {
    return 'green';
  }
  return '';
} %>
<div class="page-wrapper">
  <div class="page-container">
    <div class="card">
      <h1>History</h1>
      <div class="content">
        <table>
            <tr>
                <th>Date</th>
                <th>Ð WageredZ</th>
                <th>Ð Found</th>
                <th>Net</th>
            </tr>
            <% for(var i=0; i<result.length; i++) {%>
              <tr>
                <td><%= moment(result[i].date).format('MMMM Do YYYY, h:mm:ss a') %></td>
                <td><span class="<%= colorval(result[i].loss) %>"><%= result[i].loss %></span></td>
                <td><span class="<%= colorval(result[i].gain) %>"><%= result[i].gain %></span></td>
                <td><span class="<%= colorval(result[i].gain + result[i].loss) %>"><%= result[i].gain + result[i].loss %></span></td>
              </tr>
            <% } %>

        </table>
      </div>
    </div>
    <div class="card">
      <h1>Statistics</h1>
      <div class="content">
        <ul>
          <li>Gain: <span class="plus">3345345234</span></li>
          <li>Lost: <span class="minus">348570923</span></li>
          <li>Total Searches: 234</li>
          <li>Avg. Per Search: <span class="plus">3452</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<%- include footer.ejs %>